@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Asap';
    src: url('/fonts/cretype  Caros Bold.otf');
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf');
  }
}

html {
  scroll-behavior: smooth;
}

.animate-morph{
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  /* Define your keyframes here */
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
